{% extends "base.html" %}
{% load staticfiles %}
{%block keywords %}{{ doctors.keywords }}{% endblock keywords %}
{%block description %}{{ doctors.description }}{% endblock description %}
{% block title %}{{doctors.title}}{% endblock title %}
{% block header_fixed %}
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="content-main">
    <div class="container_content">
        <div class="breadcrumbs">
            <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
            <a href="{% url 'doctor_list' %}" class="breadcrumbs_items">Врачи</a>
            <a href="{{ doctors.get_absolute_url }}" class="breadcrumbs_items active">{{ doctors.name }}</a>
        </div>
        <h1 class="title_doctor_name">{{ doctors.name }}</h1>
        <div class="page_doctor_content">
            <div class="doctor_content clearfix">
                <div class="left_block_doc">
					<div class="wrapper_doc">
						<div class="line-deco line-deco_absolute-top"></div>
						<ul class="list_doc">
							{% if not doctors.experience == None %}<li class="item_doc first"><span>Стаж: {{ doctors.experience }}</span></li>{% endif %}
							{% if not doctors.special == None %}<li class="item_doc second"><span>Специализация: {{ doctors.special }}</span></li>{% endif %}
							{% if not doctors.category == None %}<li class="item_doc third"><span>Категория: {{ doctors.category }}</span></li>{% endif %}
						</ul>
						{% autoescape off %}{{doctors.content}}{% endautoescape %}
					</div>
				</div>
				<div class="right_block_doc">
					<div class="wrapper_doc">
						<div class="doctor_descr_img">
							<div class="wrap_img"><img src="{% if doctors.image %}{{ doctors.image.url }}{% else %}{% static "img/base_foto.jpg" %}{% endif %}" alt="doc" /></div>
							<div class="wrap_doc_buttons">
								<a href="#" class="btn_order btn_mail_open">Записаться на прием</a>
								<a href="http://forum.spina.spb.ru/" class="btn_question">Задать вопрос на форуме</a>
							</div>
                        {% if doctor_reviews %}
						    <div class="wrap_all_reviews"><a href="#rev" class="btn_all_rewievs">Читать отзывы ({{ doctor_reviews.count }})</a></div>
                        {% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="doctor_services">
                <h2>Оказываемые услуги</h2>
                {%  if doctor_service %}
                    <div class="doc_services_wrapper">
                        {% for serv in doctor_service|slice:":12" %}
                            <div class="doc_services_item">
                                <div class="top_con clearfix">
                                    <div class="wrap_img">
                                        <img src="{% if serv.image %}{{ serv.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="service icon" />
                                    </div>
                                    <a href="{{ serv.get_absolute_url }}" class="name_service">{{ serv.menu_name }}</a>
                                </div>
                                <p>{% if not serv.advt == None %}{{ serv.advt }}{% endif %}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="doc_services_wrapper">
                        {% for serv in doctor_service|slice:"12:24" %}
                            <div class="doc_services_item">
                                <div class="top_con clearfix">
                                    <div class="wrap_img">
                                        <img src="{% if serv.image %}{{ serv.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="service icon" />
                                    </div>
                                    <a href="{{ serv.get_absolute_url }}" class="name_service">{{ serv.menu_name }}</a>
                                </div>
                                <p>{% if not serv.advt == None %}{{ serv.advt }}{% endif %}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="doc_services_wrapper">
                        {% for serv in doctor_service|slice:"24:36" %}
                            <div class="doc_services_item">
                                <div class="top_con clearfix">
                                    <div class="wrap_img">
                                        <img src="{% if serv.image %}{{ serv.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="service icon" />
                                    </div>
                                    <a href="{{ serv.get_absolute_url }}" class="name_service">{{ serv.menu_name }}</a>
                                </div>
                                <p>{% if not serv.advt == None %}{{ serv.advt }}{% endif %}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if doctor_reviews %}
                    <div class="soprano_reviews doctor_reviews">
                        <h3 id="rev">Отзывы</h3>
                        {% for reviews in doctor_reviews %}
                        <div class="block_rewievs">
                            <div class="client_rewievs">
                                <div class="title_name">
                                    <span class="first">{{ reviews.header }}</span><span class="second">{{ reviews.name }}</span>
                                </div>
                                {% autoescape off %}{{ reviews.content }}{% endautoescape %}
                            </div>
                        {% if reviews.answer %}
                            <div class="answer_rewievs">
                                <div class="title_name">
                                    <span class="first">Ответ</span><span class="second">{{ reviews.doctor_answer }}</span>
                                </div>
                                <div class="answer_text_descr">
                                    {% autoescape off %}{{ reviews.answer }}{% endautoescape %}
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock content %}