{% extends "base.html" %}
{% load staticfiles %}
{% load page_slider %}
{%block keywords %}{{ service.keywords }}{% endblock keywords %}
{%block description %}{{ service.description }}{% endblock description %}
{% block title %}{{service.title}}{% endblock title %}
{% block content %}
<div class="header_soprano_wrap">
    <div class="header_soprano">
        <div class="header_soprano_item">
            <div class="container">
                <div class="soprano_item__content">
					<div class="soprano_blur"></div>
					<h1>{{ service.header_one }}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="content-main">
	<div class="container_content">
        <div class="breadcrumbs">
            <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
            <a href="{{ service.get_absolute_url }}" class="breadcrumbs_items active">{{ service.header_one }}</a>
        </div>
		<div class="content_soprano clearfix">
		    <div class="wrapper_title2">
		        <h1 class="soprano_title">{{ service.header_one }}</h1>
				<div class="line-deco line-deco_absolute-bottom"></div>
			</div>
			<div class="left_column_soprano">
			    <div class="wrapper">
			        <div class="wrapper_btn_menu"><a href="#">Разделы</a></div>
			        <div class="left_menu">
                    {% regroup service_menu by service_category as menu_list %}
			            <ul class="soprano_menu">
                            {% for service_category in menu_list %}
                                <li class="soprano_menu_item"><a href="{{ service_category.grouper.get_absolute_url }}" class="soprano_menu__link" >{{ service_category.grouper.header_one }}</a>
                                    <ul class="dropdown_menu">
                                        {% for service in service_category.list %}
                                            {% if service.get_absolute_url in request.path %}
                                                <li class="dropdown_menu_item active"><a href="{{ service.get_absolute_url }}" class="dropdown_menu__link">{{ service.header_one }}</a></li>
                                            {% else %}
                                                <li class="dropdown_menu_item"><a href="{{ service.get_absolute_url }}" class="dropdown_menu__link">{{ service.header_one }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
						    {% endfor %}
                        </ul>
					</div>
					{% get_page_slider %}
					<div class="left_banner">
						<div class="banner_content">
							<img src="{% static 'img/3d.jpg' %}" alt="banner">
							<div class="overlay_text_banner">
							    <h4>Вам обязательно понравится!</h4>
							    <p>3D-моделирование образа - для предварительной визуализации результатов эстетической пластики. Быстро, информативно, бесплатно!</p>
						    </div>
					    </div>
			    	</div>
				</div>
			</div>
			<div class="right_column_soprano">
				<div class="wrapper_title">
				    {% if service.header_two %}
					<h2 class="soprano_title">{{ service.header_two }}</h2>
					<div class="line-deco line-deco_absolute-bottom"></div>
					{% endif %}
				</div>
            {% if service_stock %}
                {% for stock in service_stock %}
                    <div class="soprano_cart">
                        <div class="soprano_cart_descr clearfix">
                            {% if stock.image %}<div class="wrapper_img"><img src="{{ stock.image.url }}" alt="photo"></div>{% endif %}
                            <div class="text_cart_descr">
                                <div class="wpapper_text">
                                    <span class="cart_title">{{ stock.title }}</span>
                                {% if not stock.period == None %}
                                    <p class="date_sales">Акция продлится  до {{ stock.period }}</p>
                                {% endif %}
                                    <p class="text_link">{% autoescape off %}{{ stock.content }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_cart_button">
                            <a href="#" class="btn_cart btn_mail_open">Записаться по акции</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="soprano_block_text">
				{% autoescape off %}{{service.content}}{% endautoescape %}
            </div>
            {% if history_list %}
            <div class="soprano_history">
                <h3 class="soprano_history_title">истории пациентов</h3>
                <div class="wrapper_sop_his">
                    {% for history in history_list %}
                    <div class="soprano_history_block">
                        <p class="soprano_history_subtitle"><a href="{{ history.get_absolute_url }}">{{ history.header }}</a></p>
                        <p>{{ history.advt }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="wrapper_history_btn">
                    <a href="{% url 'history_list' %}" class="btn_history">Все истории</a>
                </div>
            </div>
            {% endif %}
            <div class="soprano_doctor">
                <h3 class="soprano_doctor_title">Наши врачи</h3>
                {% for doctor in doctor_service %}
                <div class="block_doctor clearfix">
                    <div class="left_img"><a href="{{ doctor.get_absolute_url }}"><img src="{{ doctor.image.url }}" alt="pic"></a></div>
                    <div class="right_text">
                        <div class="wrapper">
                            <a href="{{ doctor.get_absolute_url }}" class="title_doc">{{ doctor.name }}</a>
                            {% autoescape off %}{{ doctor.content|truncatechars:"197" }}{% endautoescape %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="wrapper_doctor_btn"><a href="{% url 'doctor_list' %}" class="btn_doctor">Все врачи</a></div>
            </div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock content %}