{% extends "base.html" %}
{% load staticfiles %}
{% load page_slider %}
{%block keywords %}{% endblock keywords %}
{%block description %}{% endblock description %}
{% block title %}Акции{% endblock title %}
{% block content %}
<div class="header_soprano_wrap">
    <div class="header_soprano">
        <div class="header_soprano_item">
            <div class="container">
                <div class="soprano_item__content">
					<div class="soprano_blur"></div>
					<h1>Акции</h1>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="content-main">
	<div class="container_content">
        <div class="breadcrumbs">
            <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
            <a href="{% url 'stock_list' %}" class="breadcrumbs_items active">Акции</a>
        </div>
		<div class="content_soprano clearfix">
		    <div class="wrapper_title2">
		        <h2 class="soprano_title">Все наши акции</h2>
				<div class="line-deco line-deco_absolute-bottom"></div>
			</div>
			<div class="left_column_soprano">
			    <div class="wrapper">
			        <div class="wrapper_btn_menu"><a href="#">Разделы</a></div>
			        <div class="left_menu">
                    {% regroup service_menu by service_category as menu_list %}
			            <ul class="soprano_menu">
                            {% for service_category in menu_list %}
                                <li class="soprano_menu_item"><a href="{{ service_category.grouper.get_absolute_url }}" class="soprano_menu__link" >{{ service_category.grouper.header_one }}</a>
                                    <ul class="dropdown_menu">
                                        {% for service in service_category.list %}
                                            <li class="dropdown_menu_item"><a href="{{ service.get_absolute_url }}" class="dropdown_menu__link">{{ service.header_one }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

						    {% endfor %}
                        </ul>
					</div>
					{% get_page_slider %}
				</div>
			</div>
			<div class="right_column_soprano">
				<div class="wrapper_title">
					<h2 class="soprano_title">Все наши акции</h2>
					<div class="line-deco line-deco_absolute-bottom"></div>
				</div>
            {% if stock_list_all %}
                {% for all_stock in stock_list_all %}
                    <div class="soprano_cart">
                        <div class="soprano_cart_descr clearfix">
                            {% if all_stock.image %}<div class="wrapper_img"><img src="{{ all_stock.image.url }}" alt="photo"></div>{% endif %}
                            <div class="text_cart_descr">
                                <div class="wpapper_text">
                                    <span class="cart_title">{{ all_stock.title }}</span>
                                {% if not all_stock.period == None %}
                                    <p class="date_sales">Акция продлится  до {{ all_stock.period }}</p>
                                {% endif %}
                                    <p class="text_link">{% autoescape off %}{{ all_stock.content }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_cart_button">
                            <a href="#" class="btn_cart btn_mail_open">Записаться по акции</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock content %}