{% extends "base.html" %}
{% load staticfiles %}
{% load page_slider %}
{%block keywords %}{{ under.keywords }}{% endblock keywords %}
{%block description %}{{ under.description }}{% endblock description %}
{% block title %}{{ under.title}}{% endblock title %}
{% block content %}
<div class="header_soprano_wrap">
    <div class="header_soprano">
        <div class="header_soprano_item">
            <div class="container">
                <div class="soprano_item__content">
					<div class="soprano_blur"></div>
					<h1>{{ under.header_one }}</h1>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="content-main">
	<div class="container_content">
        <div class="breadcrumbs">
            <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
            <a href="{{ under.service.get_absolute_url }}" class="breadcrumbs_items">{{ under.service.header_one }}</a>
            <a href="{{ under.get_absolute_url }}" class="breadcrumbs_items active">{{ under.header_one }}</a>
        </div>
		<div class="content_soprano clearfix">
		    <div class="wrapper_title2">
		        <h2 class="soprano_title">{{ under.header_one }}</h2>
				<div class="line-deco line-deco_absolute-bottom"></div>
			</div>
			<div class="left_column_soprano">
			    <div class="wrapper">
                    {% if service_menu %}
			        <div class="wrapper_btn_menu"><a href="#">Разделы</a></div>
			        <div class="left_menu">
			            <ul class="soprano_menu">
                            {% for serv in service_menu %}
                                {% if serv.get_absolute_url in request.path %}
                                    <li class="soprano_menu_item active"><a href="{{ serv.get_absolute_url }}" class="soprano_menu__link" >{{ serv.menu_name}}</a>
                                    {% if under_service %}
                                        <ul class="dropdown_menu">
                                        {% for under in under_service %}
                                             {% if under.get_absolute_url in request.path %}
                                            <li class="dropdown_menu_item active">
                                                <a href="{{ under.get_absolute_url }}" class="dropdown_menu__link" >{{ under.header_one }}</a>
                                            </li>
                                            {% else %}
                                                <li class="dropdown_menu_item">
                                                    <a href="{{ under.get_absolute_url }}" class="dropdown_menu__link">{{ under.header_one }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% else %}
                                    <li class="soprano_menu_item"><a href="{{ serv.get_absolute_url }}" class="soprano_menu__link">{{ serv.menu_name}}</a></li>
                                {% endif %}
						    {% endfor %}
                        </ul>
					</div>
                    {% endif %}
					{% get_page_slider %}
					<div class="left_banner">
						<div class="banner_content">
							<img src="{% static 'img/3d.jpg' %}" alt="banner">
							<div class="overlay_text_banner">
							    <h4>Вам обязательно понравится!</h4>
							    <p>3D-моделирование образа - для предварительной визуализации результатов эстетической пластики. Быстро, информативно, бесплатно!</p>
						    </div>
					    </div>
			    	</div>
				</div>
			</div>
			<div class="right_column_soprano">
				<div class="wrapper_title">
				    {% if under.header_two %}
					<h2 class="soprano_title">{{ under.header_two }}</h2>
					<div class="line-deco line-deco_absolute-bottom"></div>
					{% endif %}
				</div>
            {% if service_stock %}
                {% for stock in service_stock %}
                    <div class="soprano_cart">
                        <div class="soprano_cart_descr clearfix">
                            {% if stock.image %}<div class="wrapper_img"><img src="{{ stock.image.url }}" alt="photo"></div>{% endif %}
                            <div class="text_cart_descr">
                                <div class="wpapper_text">
                                    <span class="cart_title">{{ stock.title }}</span>
                                    <p class="date_sales">Акция продлится  до {{ stock.period }}</p>
                                    <p class="text_link">{% autoescape off %}{{ stock.content }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper_cart_button">
                            <a href="#" class="btn_cart btn_mail_open">Записаться по акции</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="soprano_block_text">
				{% autoescape off %}{{ under.content }}{% endautoescape %}
            </div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock content %}