{% extends "base.html" %}
{% load staticfiles %}
{%block keywords %}{{ article.keywords }}{% endblock keywords %}
{%block description %}{{ article.description }}{% endblock description %}
{% block title %}{{ article.title}}{% endblock title %}
{% block content %}
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-main">
        <div class="container_content page_service">
            <div class="breadcrumbs">
                <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
                <a href="{{ article.category.get_absolute_url }}" class="breadcrumbs_items">{{ article.category.header_one}}</a>
                <a href="{{ article.get_absolute_url }}" class="breadcrumbs_items active">{{ article.header_one }}</a>
            </div>
            <h1 class="title_service_name">{{ article.header_one }}</h1>
            <div class="page_service_content">
                <div class="line-deco line-deco_absolute-top"></div>
                {% autoescape off %}{{ article.content }}{% endautoescape %}
            </div>
        </div>
    </div>
{% include "footer.html" %}
{% endblock content %}