{% extends "base.html" %}
{% load staticfiles %}
{%block keywords %}{{ category.keywords }}{% endblock keywords %}
{%block description %}{{ category.description }}{% endblock description %}
{% block title %}{{ category.title}}{% endblock title %}
{% block content %}
    <div class="header_fixed">
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                </div>
            </div>
        </div>
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-main">
        <div class="container_content page_service">
            <div class="breadcrumbs">
                <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
                <a href="{{ category.get_absolute_url }}" class="breadcrumbs_items active">{{ category.header_one }}</a>
            </div>
            <h1 class="title_service_name">{{ category.header_one }}</h1>
            <div class="page_service_content">
                <div class="line-deco line-deco_absolute-top"></div>
                {% autoescape off %}{{ category.content }}{% endautoescape %}
            {% if services %}
            <section class="block_service">
                <h2>Услуги</h2>
                <ul class="service_list">
                    {% for service in services|slice:":12" %}
                    <li class="service_item">
                        <div class="top_con clearfix">
                            <div class="wrap_img"><img src="{% if service.image %}{{service.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="face"></div>
                            <a href="{{ service.get_absolute_url }}" class="name_service">{{ service.header_one }}</a>
                        </div>
                        <p>{{ service.advt }}<p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="service_list">
                    {% for service in services|slice:"12:24" %}
                    <li class="service_item">
                        <div class="top_con clearfix">
                            <div class="wrap_img"><img src="{% if service.image %}{{service.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="face"></div>
                            <a href="{{ service.get_absolute_url }}" class="name_service">{{ service.header_one }}</a>
                        </div>
                        <p>{{ service.advt }}<p>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="service_list">
                    {% for service in services|slice:"24:36" %}
                    <li class="service_item">
                        <div class="top_con clearfix">
                            <div class="wrap_img"><img src="{% if service.image %}{{service.image.url }}{% else %}{% static "img/pageDoc/face.png" %}{% endif %}" alt="face"></div>
                            <a href="{{ service.get_absolute_url }}" class="name_service">{{ service.header_one }}</a>
                        </div>
                        <p>{{ service.advt }}<p>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {%  if article_list %}
                <section class="article">
                    <h2>Статьи</h2>
                    {% for article in article_list %}
                    <div class="article_descr clearfix">
                        {%  if article.image %}
                        <div class="left_block">
                            <div class="wrap_img"><img src="{{ article.image.url }}" alt="aricle"></div>
                        </div>
                        {% endif %}
                        <div class="right_block">
                            <p class="date_article">{{ article.timestamp|date:"d F Y" }}</p>
                            <a href="{{ article.get_absolute_url }}" class="title_article">{{ article.header_one }}</a>
                            {% autoescape off %}{{ article.content|truncatechars:500 }}{% endautoescape %}
                        </div>
                    </div>
                    {% endfor %}
                </section>
            {% endif %}
            </div>
        </div>
    </div>
{% include "footer.html" %}
{% endblock content %}