{% load staticfiles %}
{% load main_menu %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{%block description %}{% endblock description %}">
    <meta name="keywords" content="{%block keywords %}{% endblock keywords %}">
    <link rel="icon" href="{% static 'img/d_icon.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/d_icon.png' %}">
    <title>{%block title%}Клиника Долголетие{%endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
    {% block head %}{%endblock head %}
    <!--[if IE]>
		<style type="text/css">
			.title_color-1 {
				color: #d8b06e;
				background: none;
			}

			.
		</style>
		<![endif]-->
</head>
<body>
{% block container %}<div class="container-main no-scroll">{% endblock container %}
<header class="header-main no-scroll">
    <div class="container">
        <div class="grid-row clearfix top_head">
            <div class="left_head">
                <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
			</div>
			<div class="right_head">
                <div class="content_right_head clearfix">
                    <div class="con_contacts">
                        <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                        <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                        <div class="block_soc">
                            <a href="https://vk.com/plastikame" target="_blank"><img src="{% static 'img/vk.png' %}" alt="pic" /></a>
                            <a href="https://www.instagram.com/plastika.me/" target="_blank"><img src="{% static 'img/inst.png' %}" alt="pic" /></a>
                            <a href="https://www.facebook.com/%D0%94%D0%BE%D0%BB%D0%B3%D0%BE%D0%BB%D0%B5%D1%82%D0%B8%D0%B5-%D0%9E%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%9F%D0%BB%D0%B0%D1%81%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B9-%D0%A5%D0%B8%D1%80%D1%83%D1%80%D0%B3%D0%B8%D0%B8-1697615780541427/" target="_blank"><img src="{% static 'img/facebook.png' %}" alt="pic" /></a>
                        </div>
                    </div>
                    <div class="con_adress">
                        <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                    </div>
                    <div class="con_head_feedback">
                        <ul class="head_feedback_list">
                            <li class="head_feedback_item feedback__enroll"><a href="#" class="btn_write_open">Записаться</a></li>
                            <li class="head_feedback_item feedback__call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                            <li class="head_feedback_item feedback__letter"><a href="#" class="btn_mail_open">Написать нам</a></li>
                            <li class="head_feedback_item feedback__consultation-sk"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="con_adress2"><p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p></div>
		</div>
		{% get_main_menu mainmenu %}
	</div>
</header>
{% block header_fixed %}{% endblock %}
{% block content %}
{%endblock content %}
    </div>
    <div class="hidden">
        <form id="hidden_form" role="form" method="post" action=" ">
            {% csrf_token %}
            <div class="close_hidden_form">×</div>
            <h2>Заказать звонок</h2>
            <label for="id_tel"><input class="input1" type="tel" name="tel" placeholder="Ваш телефон" required/></label>
    		<label for="id_name"><input class="input1" type="text" name="name" placeholder="Ваше имя" required/></label>
            <span class="wrapper_checkbox">
                <input type="checkbox" name="accept" id="checkbox2" value="a2" required>
                <label for="checkbox2"></label>
                <strong>Я даю согласие на обработку <a href="http://www.plastika.me/politika-konfidencialnosti/"><u>персональных данных</u></a></strong>
            </span>
    		<button class="button" type="submit">Отправить</button>
    	</form>
    </div>
    <div class="hidden2">
        <form id="hidden_form2" class="hidden_form2" role="form" method="post" action=" ">
            {% csrf_token %}
            <div class="close_hidden_form">×</div>
            <h2>Написать нам</h2>
            <label><input class="input1" type="tel" name="mes_tel" placeholder="Ваш телефон" required/></label>
            <label><input class="input1" type="text" name="mes_name" placeholder="Ваше имя" required/></label>
            <label><textarea  class="input1" name="mes_message" id="textarea_form" rows="5" placeholder="Cообщение"></textarea></label>
            <span class="wrapper_checkbox">
                <input type="checkbox" name="mes_accept" id="checkbox3" value="a3" required>
                <label for="checkbox3"></label>
                <strong>Я даю согласие на обработку <a href="http://www.plastika.me/politika-konfidencialnosti/"><u>персональных данных</u></a></strong>
            </span>
            <button class="button" type="submit">Отправить</button>
        </form>
    </div>
    <div class="hidden3">
        <form class="hidden_form2" role="form" method="post" action=" ">
            {% csrf_token %}
            <div class="close_hidden_form">×</div>
            <h2>Записаться</h2>
            <label><input class="input1" type="tel" name="mes_tel" placeholder="Ваш телефон" pattern="[0-9]{6,20}" title="Только цыфры. Пример: 78126710170" required/></label>
            <label><input class="input1" type="text" name="mes_name" placeholder="Ваше имя" /></label>
            <label><textarea  class="input1" name="mes_message" rows="5" placeholder="Cообщение"></textarea></label>
            <span class="wrapper_checkbox">
                <input type="checkbox" name="mes_accept" id="checkbox4" value="a4" required>
                <label for="checkbox4"></label>
                <strong>Я даю согласие на обработку <a href="http://www.plastika.me/politika-konfidencialnosti/"><u>персональных данных</u></a></strong>
            </span>
            <button class="button" type="submit">Отправить</button>
        </form>
    </div>
    <script src="{% static 'js/app.min.js' %}"></script>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41206394 = new Ya.Metrika({ id:41206394, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41206394" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>