{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js demo-4">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Книга отзывов "Долголетие - Пластическая хирургия"</title>
		<meta name="description" content=" " />
		<meta name="keywords" content=" " />
		<link rel="icon" href="{% static 'img/d_icon.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/d_icon.png' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'book/css/default.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'book/css/bookblock.css' %}" />
		<!-- custom demo style -->
		<link rel="stylesheet" type="text/css" href="{% static 'book/css/demo4.css' %}" />
		<link rel="stylesheet" href="{% static 'book/css/lightbox.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'book/css/style.css' %}" />
		<script src="{% static 'book/js/modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item">
						<div class="bb-custom-firstpage" style="background-image: url({% static 'book/images/main1.jpg' %});background-position: top center;">
						<img width="60%" src="{% static 'img/logo.png' %}">
  <div style="max-width: 80%;text-align: center;padding-left: 20%;">
							<h1>Книга отзывов</h1></div>
						</div>
						<div class="bb-custom-side">
							<p>Дорогие друзья! Мы будем рады Вашим отзывам и предложениям.<br>
							Главное для нас – это профессионально и эффективно выполненная работа, и как следствие – довольные пациенты. Для нас очень важны Ваше мнение и обратная связь.<br>
							Спасибо за выбор нашей клиники!<br>

							С уважением – администрация МЦ «Долголетие»</p>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side" style="background-image: url({% static 'book/images/russkix.jpg' %}); background-position: top center;">
						<h1>Русских Марина<br/>Вячеславовна</h1>
                        </div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/1_russkih.jpg' %}" style="width: 100%;"/>
						</div>
						<div class="bb-custom-side hide2">
						<p>12 января 2016 г.<br>
						Хочу выразить искреннюю благодарность и признательность врачам от бога, ювелирам высокого класса, пластическим хирургам Русских Марине Вячеславовне и Глинскому Роману Сергеевичу за высокий профессионализм, ответственное, внимательное отношение к пациентам.<br>
						Прежде чем приехать в Санкт-Петербург, я провела большую работу в направлении изучения вопросов, связанных с проведением пластической операции в разных клиниках Ставропольского и Краснодарского краев, Москвы и Санкт-Петербурга. И выбор мой не был случайным. Результаты работы этих замечательных хирургов известны уже по всей России.<br>
						Спасибо Вам за великодушие и неуспокоенность сердца, за то, что своим отношением к жизни даете нам уроки добра, заботы и внимания.<br>
						Нач-к УСЗН в МО «г. Дербент» Терещенко Л.В.</p>
						<a class="example-image-link" href="{% static 'book/images/1_russkih.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}"  alt="image-1" /></a>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side" style="background-image: url({% static 'book/images/mitiak.jpg' %}); background-position: top center;">
						<h1>Митякова Ольга<br/>Николаевна</h1>
                        </div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/2_mitiakova.jpg' %}" style="width: 100%;"/>
						</div>
						<div class="bb-custom-side hide2">
						<p>12 января 2016 г.<br>
						Огромная благодарность высококлассному анестезиологу Митяковой Ольге Александровне.*<br>
						Она умная, чуткая и очень профессионально подходит к работе.<br>
						Хочу выразить благодарность медицинской сестре отделения пластической хирургии Воронцовой Сагларе* Александровне – за высокое мастерство, профессионализм, чуткость и внимательное отношение.<br>
						Нач-к УСЗН в МО «г. Дербент» Терещенко Л.В.<br>
						* Неточно указаны имена медработников. Врача-анестезиолога зовут Митякова Ольга Николаевна, процедурную медсестру – Воронцова Саглар Александровна (Прим. ред.).<br>
						</p>
						<a class="example-image-link" href="{% static 'book/images/2_mitiakova.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side" style="background-image: url({% static 'book/images/dorosh.jpg' %}); background-position: top center;">
						<h1>Дорошкевич Олег<br/>Станиславович</h1>
                        </div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/3_doroshkevich.jpg' %}" style="width: 100%;"/>
						</div>
						<div class="bb-custom-side hide2">
						<p>16 июня 2016 г.<br>
						Большое спасибо доктору Дорошкевичу Олегу Станиславовичу. Никто мне не мог помочь. Он выслушал, сделал обезболивание. Нашел причину моей боли. Попросил задавать вопросы, я была в шоке. Обычно врачи не хотят чтоб их спрашивали. Спасибо что есть такие врачи.<br>
						(Вместо подписи указан мобильный телефон; на фото изображение телефона размыто для сохранения в тайне конфиденциальных данных пациента.)
						</p>
						<a class="example-image-link" href="{% static 'book/images/3_doroshkevich.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/5_doroshkevich.jpg' %}" style="width: 100%;" />
						</div>
						<div class="bb-custom-side hide2">
						<p>9 марта 2017 г.<br>
						Благодарю доктора О.С. Дорошкевича за золотые руки, вежливость, компетентность и заботу о пациенте! Операцию по удалению застарелой гематомы провел блестяще по всем статьям! Спасибо!<br>
						А.С. Романов
						</p>
						<a class="example-image-link" href="{% static 'book/images/5_doroshkevich.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/6_doroshkevich.jpg' %}" style="width: 100%;" />
						</div>
						<div class="bb-custom-side hide2">
						<p>11 марта 2017 г.<br>
						Хочу искренне поблагодарить пластического хирурга Олега Станиславовича Дорошкевича, который сделал мне шикарную грудь, о которой даже мечтать я не могла!<br>
						Олег Станиславович, Вы просто волшебник и врач от Бога!
						</p>
						<a class="example-image-link" href="{% static 'book/images/6_doroshkevich.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side" style="background-image: url({% static 'book/images/kopilov2.jpg' %}); background-position: top center;">
						<h1>Копылов Александр<br/>Александрович</h1>
                        </div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/4_kopilov.jpg' %}" style="width: 100%;"/>
						</div>
						<div class="bb-custom-side hide2">
						<p>17 января 2017 г.<br>
						Выражаю благодарность Копылову Александру Александровичу за проведенную операцию. Золотые руки у доктора. Всё сделал очень аккуратно и безболезненно. Реабилитация после операции длилась недолго.<br>
						Также выражаю благодарность всему персоналу клиники за профессионализм.<br>
						Виктор Авдеенко. 17.01.17
						</p>
						<a class="example-image-link" href="{% static 'book/images/4_kopilov.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
					</div>
					<div class="bb-item">
						<div class="bb-custom-side" style="background-image: url({% static 'book/images/gli_rus.jpg' %}); background-position: top center;">
						<h1>Глинский Роман Сергеевич<br>
						и Русских Марина Вячеславовна</h1>
                        </div>
						<div class="bb-custom-side hide">
						<img src="{% static 'book/images/7_glinskogo_russ.jpg' %}" style="width: 100%;"/>
						</div>
						<div class="bb-custom-side hide2">
						<p>21.03.2017 г.<br>
						Хотела поблагодарить замечательных пластиков Глинского Романа Сергеевича и Русских Марину Вячеславовну.<br>
						После 35 появилось много морщин и ухудшилось состояние кожи. Глинский Р.С. поставил мне нити Аптос, а Русских М.В. после этого сделала курс инъекций! И теперь, в свои 45, я выгляжу не старше 30-ти. Все мои подруги завидуют.<br>
						Спасибо Вам!<br>
						Вероника Михайловна 21.03.17.
						</p>
						<a class="example-image-link" href="{% static 'book/images/7_glinskogo_russ.jpg' %}" data-lightbox="example-1"><img class="example-image" src="{% static 'book/images/pic_icon.png' %}" alt="image-1" /></a>
						</div>
					</div>
				</div>
				<nav>
					<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
					<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
					<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
					<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
				</nav>
			</div>
		</div><!-- /container -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{% static 'book/js/jquerypp.custom.js' %}"></script>
		<script src="{% static 'book/js/jquery.bookblock.js' %}"></script>
		<script>
			var Page = (function() {

				var config = {
						$bookBlock : $( '#bb-bookblock' ),
						$navNext : $( '#bb-nav-next' ),
						$navPrev : $( '#bb-nav-prev' ),
						$navFirst : $( '#bb-nav-first' ),
						$navLast : $( '#bb-nav-last' )
					},
					init = function() {
						config.$bookBlock.bookblock( {
							speed : 1000,
							shadowSides : 0.8,
							shadowFlip : 0.4
						} );
						initEvents();
					},
					initEvents = function() {

						var $slides = config.$bookBlock.children();

						// add navigation events
						config.$navNext.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'next' );
							return false;
						} );

						config.$navPrev.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'prev' );
							return false;
						} );

						config.$navFirst.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'first' );
							return false;
						} );

						config.$navLast.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'last' );
							return false;
						} );

						// add swipe events
						$slides.on( {
							'swipeleft' : function( event ) {
								config.$bookBlock.bookblock( 'next' );
								return false;
							},
							'swiperight' : function( event ) {
								config.$bookBlock.bookblock( 'prev' );
								return false;
							}
						} );

						// add keyboard events
						$( document ).keydown( function(e) {
							var keyCode = e.keyCode || e.which,
								arrow = {
									left : 37,
									up : 38,
									right : 39,
									down : 40
								};

							switch (keyCode) {
								case arrow.left:
									config.$bookBlock.bookblock( 'prev' );
									break;
								case arrow.right:
									config.$bookBlock.bookblock( 'next' );
									break;
							}
						} );
					};

					return { init : init };

			})();
		</script>
		<script>
				Page.init();
		</script>
		<script src="{% static 'book/js/lightbox-plus-jquery.min.js' %}"></script>
	</body>
</html>