{% load main_menu %}
{% load staticfiles %}
<footer class="footer-main">
    <div class="line-deco line-deco_big  line-deco_absolute-top"></div>
    <div class="container">
        <div class="footer_content clearfix">
            <div class="left">
                {% get_footer_menu %}
            </div>
            <div class="center">
                <div class="forum_footer">
                    <p class="forum_title">Форум</p>
                    <div class="forum_item">
                        <p><a href="http://forum.spina.spb.ru/topic5.html">Блефаропластика</a></p>
                        <span>admin</span>
                        <span class="date">09 декабря; 16:15</span>
                    </div>
                    <div class="forum_item">
						<p><a href="http://forum.spina.spb.ru/topic31.html">Полипы в носу</a></p>
						<span>admin</span>
						<span class="date">22 февраля; 02:23</span>
					</div>
					<div class="forum_item">
						<p><a href="http://forum.spina.spb.ru/topic870.html">Исправление формы носа</a></p>
						<span>admin</span>
						<span class="date">04 июля; 16:20</span>
					</div>
                    <div class="wrapper_forum_button">
                        <a href="http://forum.spina.spb.ru" class="forum_btn">Перейти на форум</a>
                    </div>
                </div>
                <div class="adress_footer">
                    <p class="adress_title">Наш адрес</p>
                    <p class="map_address">
                        <img src="{% static 'img/map.png' %}" alt="pic" />Санкт-Петербург,<br>ст. м. «Горьковская»,<br>улица Малая Посадская, д. 7/4</p>
                    <p class="phone_footer">
                        <img src="{% static 'img/callf.png' %}" alt="pic" />
                        <a href="tel:78126710170"><span>+7 (812)</span>671-01-70</a>
                    </p>
                    <p class="grafic_footer">ежедневно 9:00 - 21:00</p>
                </div>
            </div>
            <div class="right">
                <div class="social_footer">
                    <p class="social_title">Мы в соцсетях</p>
                    <div class="social_list">
                        <a href="https://vk.com/plastikame" target="_blank" class="social_link"><img src="{% static 'img/vk.png' %}" alt="pic" /></a>
                        <a href="https://www.instagram.com/plastika.me/" target="_blank" class="social_link"><img src="{% static 'img/inst.png' %}" alt="pic" /></a>
                        <a href="https://www.facebook.com/%D0%94%D0%BE%D0%BB%D0%B3%D0%BE%D0%BB%D0%B5%D1%82%D0%B8%D0%B5-%D0%9E%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%9F%D0%BB%D0%B0%D1%81%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B9-%D0%A5%D0%B8%D1%80%D1%83%D1%80%D0%B3%D0%B8%D0%B8-1697615780541427/" target="_blank" class="social_link"><img src="{% static 'img/facebook.png' %}" alt="pic" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>