{% extends "base.html" %}
{% load staticfiles %}
{% load main_slider %}

{% block content %}
    {% get_slide_list slide %}
    <div class="content-main indexpage">
        <div class="breadcrumbs"><a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a></div>
        <section class="why_me">
            <div class="container">
                <h2>Почему мы</h2>
                <div class="line-deco"></div>
                <div class="why_me_descr clearfix">
                    <div class="left">
                        <div class="wrapper_img">
                            <a href="https://yandex.ru/maps/2/saint-petersburg/?source=wizbiz_new_map_single&z=14&ll=30.321789%2C59.957238&mode=search&panorama%5Bpoint%5D=30.321781%2C59.957253&panorama%5Bdirection%5D=305.575734%2C-9.273570&panorama%5Bspan%5D=120.000000%2C60.615599&text=%D1%8F%D0%BD%D0%B4%D0%B5%D0%BA%D1%81%20%D0%BA%D0%B0%D1%80%D1%82%D0%B0%20%D0%BA%D0%BB%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0%20%D0%B4%D0%BE%D0%BB%D0%B3%D0%BE%D0%BB%D0%B5%D1%82%D0%B8%D0%B5&sll=30.321789%2C59.957238&sctx=CQAAAAEAWdqpudxQPkAna9RDNPhNQCYYzjXM0OA%2FP%2BPCgZAs1j8EAAAAAAECAwEAAAAAAAAAAWQHPRUc2XKqAgAAAAEAAIA%2FAAAAAAEAAAASAAAAcmVsZXZfZHJ1Z19ib29zdD0xAgAAAHJ1&ol=biz&oid=1215414718" target="_blank">
                                <img src="{% static 'img/3d.png' %}" alt="pic" class="img_3d /">
                                <img src="{% static 'img/img-3D.png' %}" alt="img" class="img_right" />
                            </a>
                        </div>
                    </div>
                    <div class="right">
                		<div class="wrapper_text">
                            <p>Правильно выбрать клинику пластической хирургии в Санкт-Петербурге - большая удача. Мы с Вами нашли друг друга!
В медицинском центре "Долголетие" безупречные условия: высокий уровень профессионализма и золотые руки талантливых специалистов, до- и послеоперационное наблюдение, оснащённость инновационным оборудованием и наличие комфортного стационара, удобное расположение и приемлемая стоимость услуг (с вариативностью форм оплаты). Путь к совершенству начинается здесь!
Лучшее тому подтверждение - многолетний опыт, непрерывное развитие в области пластической хирургии и, конечно же, положительные отзывы от благодарных пациентов. Нас выбирают не только за индивидуальный подход, но и за очевидные преимущества.</p>
                        </div>
                    </div>
                </div>
                <div class="why_me_descr clearfix">
                	<div class="left">
                        <div class="wrapper_text" style="padding-top: 15px;">
                            <ul>
                                <li style="padding: 15px 0;"><img src="{% static 'img/main_icons/ico1.png' %}" style="padding-right: 10px;">Заслуженный авторитет: лидируем в сфере медицинских услуг с 1994 года.</li>
                                <li style="padding: 15px 0;"><img src="{% static 'img/main_icons/ico2.png' %}" style="padding-right: 10px;">Лучшие рекомендации: более 200 операций ежегодно; только опытные и ответственные специалисты.</li>
                                <li style="padding: 15px 0;"><img src="{% static 'img/main_icons/ico3.png' %}" style="padding-right: 10px;">Исполнение желаний: более 130 услуг по различным направлениям эстетической медицины в рамках одного центра.</li>
                                <li style="padding: 15px 0;"><img src="{% static 'img/main_icons/ico4.png' %}" style="padding-right: 10px;">Признание и доверие: более 20 000 пациентов в нашей картотеке (в их числе, вполне возможно, Ваши друзья и близкие).</li>
                                <li style="padding: 15px 0;"><img src="{% static 'img/main_icons/ico5.png' %}" style="padding-right: 10px;">Оптимальная локация:  5 минут пешком от станции метро "Горьковская"; удобные подъездные пути; тихие мини-отели и гостиницы Санкт-Петербурга - совсем рядом, для размещения приезжих пациентов.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                		<div class="wrapper_text">
                            <img src="media/dolgolet_img.jpg" alt="img" class="img_right" style="padding-top: 25px;">
                            <strong>Записаться на консультацию и бесплатный имидж-дизайн:<a href="tel:+78126710170"> +7 (812) 671-01-70.</a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container_fluid bg_theme-1">
            <div class="container conainer_padding-b plasty">
                <div class="container2">
                    <div class="grid-row">
                        <div class="grid-row__col">
                            <h2 class="title_main title_margin title_center">Пластическая хирургия</h2>
                        </div>
                    </div>
                    <div class="grid-row clearfix gr">
                        <div class="grid-row__col grid-row__col_float-l plasty__img">
                            <img src="{% static 'img/plasty.png' %}" alt="baby" />
                        </div>
                        <div class="grid-row__col tabs grid-row__col_float-l grid-row__col_width-12 content_baby_tabs">
                            <div class="grid-row grid-row_justify grid-row_top content_baby_tabs_wrapper">
                                <div class="grid-row__col">
                                    <span class="tabs__tab btn btn_size-s btn_bg-theme-1 btn_ico btn_ico-theme-4 plasty__face active">Лицо</span><br>
                                    <span class="tabs__tab plasty__chest btn btn_theme-1 btn_ico btn_ico-theme-1">Грудь</span><br>
                                    <span class="tabs__tab plasty__body btn btn_theme-1 btn_ico btn_ico-theme-1">Тело</span><br>
                                    <span class="tabs__tab plasty__legs btn btn_theme-1 btn_ico btn_ico-theme-1">Ноги</span><br>
                                </div>
                                <div class="grid-row__col  plasty__content info-block_theme-1">
                                    <div class="tabs__content active">
                                        <div class="alignment_l">
                                            <a href="http://www.plastika.me/category/hirurgiya-lica/" class="title_size-s btn btn_link btn_ico btn_ico-theme-3">Пластика лица</a>
                                        </div>
                                        <p class="text text_fony-size-s">Идеальный носик, выразительные глаза, правильный овал лица, гладкий лоб – все эти мечты становятся реальностью!</p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/blefaroplastika/" class="btn_link">Блефаропластика верхних и нижних век</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/rinoplastika/" class="btn_link">Ринопластика – коррекция формы носа</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/otoplastika/" class="btn_link">Отопластика – пластика ушей</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/visochnyj-lifting/" class="btn_link">Височный лифтинг</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/endoskopicheskaya-podtyagka/" class="btn_link">Эндоскопическая подтяжка лица</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/liposakcia-lico/" class="btn_link">Липосакция лица, подбородка, шеи</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/licevie-implanti/" class="btn_link">Лицевые импланты</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/uvelichenie-podborodka/" class="btn_link">Увеличение подбородка</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/lipofiling/" class="btn_link">Липофилинг лица</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/plastika-rubcov/" class="btn_link">Пластика рубцовой деформации</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/omolozenie-aptos/" class="btn_link">Мезонити Aptos</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/plastika-shei-platizmoplastika/" class="btn_link">Пластика шеи</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/smas-lifting-fejslifting/" class="btn_link">SMAS-лифтинг (фейслифтинг)</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/category/lor-operacii/" class="btn_link">ЛОР-операции</a></p>
                                        <a href="http://www.plastika.me/plasticheskaya-hirurgiya-kliniki-dolgoletie/" class="btn btn_bg-theme-2 btn_size-b btn_ico btn_ico-theme-5 btn_position-c-b">Все услуги</a>
                                    </div>
                                    <div class="tabs__content">
                                        <div class="alignment_l">
                                            <a href="http://www.plastika.me/category/plastika-grudi/" class="title_size-s btn btn_link btn_ico btn_ico-theme-3">Пластика груди</a>
                                        </div>
                                        <p class="text text_fony-size-s">Сделайте шаг навстречу заветной мечте и навсегда забудьте о комплексах, связанных с маленькой грудью, растяжками после беременности и кормления, деформацией сосков.</p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/uvelichenie-endoprotezirovanie-molochnyh-zhelez/" class="btn_link">Увеличение (эндопротезирование) молочных желез</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/plastika-soskov-i-areol/" class="btn_link">Пластика сосков и ареол</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/lipofiling-grudnyh-zhelez/" class="btn_link">Липофилинг грудных желез</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/mastopeksiya/" class="btn_link">Мастопексия</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/redukcionnaya-mammoplastika-pri-gigantomastii/" class="btn_link">Редукционная маммопластика при гигантомастии</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/lechenie-kapsulyarnoj-konraktury-kapsulektomiya-ka/" class="btn_link">Лечение капсулярной контрактуры (капсулэктомия, капсулотомия)</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/rekonstrukciya-molochnoj-zhelezy-ustanovka-ekspand/" class="btn_link">Реконструкция молочной железы (установка экспандера)</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/reendoprotezirovanie-udalenie-i-zamena-grudnyh-imp/" class="btn_link">Реэндопротезирование - удаление и замена грудных имплантов</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/udalenie-biopolimernogo-gelya-iz-grudi/" class="btn_link">Удаление биополимерного геля из груди</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/udalenie-dobrokachestvennogo-obrazovaniya/" class="btn_link">Удаление доброкачественного образования</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/vskrytie-kisty-molochnoj-zhelezy/" class="btn_link">Вскрытие кисты молочной железы</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/udalenie-zhirovyh-otlozhenij-v-oblasti-molochnyh-z/" class="btn_link">Удаление жировых отложений в области молочных желез</a></p>
                                        <a href="http://www.plastika.me/plasticheskaya-hirurgiya-kliniki-dolgoletie/" class="btn btn_bg-theme-2 btn_size-b btn_ico btn_ico-theme-5 btn_position-c-b">Все услуги</a>
                                    </div>
                                    <div class="tabs__content">
                                        <div class="alignment_l">
                                            <a href="http://www.plastika.me/category/plastika-tela/" class="title_size-s btn btn_link btn_ico btn_ico-theme-3">Пластика тела</a>
                                        </div>
                                        <p class="text text_fony-size-s">Безусловно, все хотят быть красивыми и привлекательными. Каждый желает соответствовать образу своего идеала, иметь великолепные формы, подтянутые мышцы и гладкую кожу.</p>
                                        <p class="text text_fony-size-s">Существует огромное количество способов, позволяющих приблизиться к мечте: диеты, спорт, косметологические процедуры.Но когда вы уже выбились из сил, а жировые отложения совсем не уменьшились, стоит попробовать нечто особенное.</p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/liposakcia-telo/" class="btn_link">Липосакция тела</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/abdominoplastika/" class="btn_link">Абдоминопластика</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/lipomodelirovanie-tela/" class="btn_link">Липомоделирование тела</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/liposkulptura-akvaliks/" class="btn_link">Липоскульптура «Акваликс»</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/category/intimnaya-plastika/" class="btn_link">Интимная пластика</a></p>
                                        <a href="http://www.plastika.me/plasticheskaya-hirurgiya-kliniki-dolgoletie/" class="btn btn_bg-theme-2 btn_size-b btn_ico btn_ico-theme-5 btn_position-c-b">Все услуги</a>
                                    </div>
                                    <div class="tabs__content">
                                        <div class="alignment_l">
                                            <a href="http://www.plastika.me/category/plastika-nog/" class="title_size-s btn btn_link btn_ico btn_ico-theme-3">Пластика ног</a>
                                        </div>
                                        <p class="text text_fony-size-s">Пройтись по берегу гордой ровной походкой, зная, что стройные, изящные ножки невольно приковывают к себе взгляды, – мечта многих дам. Исправление недостатков с помощью круропластики – тема, актуальная как для женщин, так и для мужчин, ведь недовольство собой может возникнуть не только из-за несоответствия представлениям об идеальной фигуре, но и в силу наличия увечий, полученных в результате травм.</p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/kruroplastika/" class="btn_link">Круропластика – коррекция формы и размера голени</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/uslugi/gluteoplastika/" class="btn_link">Глютеопластика – коррекция формы и размера ягодиц</a></p>
                                        <p class="text text_font-size-xs btn_ico btn_ico-theme-2"><a href="http://www.plastika.me/category/esteticheskaya-flebologiya/" class="btn_link">Эстетическая флебология</a></p>
                                        <a href="http://www.plastika.me/plasticheskaya-hirurgiya-kliniki-dolgoletie/" class="btn btn_bg-theme-2 btn_size-b btn_ico btn_ico-theme-5 btn_position-c-b">Все услуги</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-deco line-deco_big"></div>
        </div>
        <div class="plasty_girl_mobile">
            <h2 class="plasty_mobile_title">Пластическая хирургия</h2>
            <div class="container">
                <div class="cont_mobile_baby">
                    <ul class="tabs_mobile_baby_list">
                        <li class="mobile_baby_item">
                            <span class="face">Лицо</span>
                            <div class="mobile_baby_content">
                                <div class="mobile_baby_descr">
                                    <div class="close_mobile_descr">
                                        <img src="{% static 'img/close.png' %}" width="15" height="15" alt="close" />
                                    </div>
                                    <h3 class="title">Пластика лица</h3>
                                    <div class="block_a">
                                        <a href="http://www.plastika.me/uslugi/blefaroplastika/">Блефаропластика верхних и нижних век</a>
                                        <a href="http://www.plastika.me/uslugi/rinoplastika/">Ринопластика – коррекция формы носа</a>
                                        <a href="http://www.plastika.me/uslugi/otoplastika/">Отопластика – пластика ушей</a>
                                        <a href="http://www.plastika.me/uslugi/lor-operacii/">ЛОР-операции</a>
                                        <a href="http://www.plastika.me/uslugi/visochnyj-lifting/">Височный лифтинг</a>
                                        <a href="http://www.plastika.me/uslugi/endoskopicheskaya-podtyagka/">Эндоскопическая подтяжка лица</a>
                                        <a href="http://www.plastika.me/uslugi/liposakcia-lico/">Липосакция лица, подбородка, шеи</a>
                                        <a href="http://www.plastika.me/uslugi/licevie-implanti/">Лицевые импланты</a>
                                        <a href="http://www.plastika.me/uslugi/uvelichenie-podborodka/">Увеличение подбородка</a>
                                        <a href="http://www.plastika.me/uslugi/lipolifting-lica/">Липолифтинг лица</a>
                                        <a href="http://www.plastika.me/uslugi/lipofiling/">Липофилинг лица</a>
                                        <a href="http://www.plastika.me/uslugi/plastika-rubcov/">Пластика рубцовой деформации</a>
                                        <a href="http://www.plastika.me/uslugi/omolozenie-aptos/">МезонитиAptos</a>
                                        <a href="http://www.plastika.me/uslugi/plastika-shei-platizmoplastika/">Пластика шеи</a>
                                        <a href="http://www.plastika.me/uslugi/liposkulptura-akvaliks/">Липоскульптура «Акваликс»</a>
                                        <a href="http://www.plastika.me/uslugi/konturnaya-plastika-lica/">Контурная пластика лица</a>
                                        <a href="http://www.plastika.me/uslugi/ritidektomiya-podtyazhka-kozhi-lica/">Ритидэктомия – подтяжка кожи лица</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mobile_baby_item">
                            <span class="chest">Грудь</span>
                            <div class="mobile_baby_content">
                                <div class="mobile_baby_descr">
                                    <div class="close_mobile_descr">
                                        <img src="{% static 'img/close.png' %}" width="15" height="15" alt="close" />
                                    </div>
                                    <h3 class="title">Пластика груди</h3>
                                    <div class="block_a">
                                        <a href="http://www.plastika.me/uslugi/uvelichenie-endoprotezirovanie-molochnyh-zhelez/" >Увеличение (эндопротезирование) молочных желез</a>
                                        <a href="http://www.plastika.me/uslugi/plastika-soskov-i-areol/" >Пластика сосков и ареол</a>
                                        <a href="http://www.plastika.me/uslugi/lipofiling-grudnyh-zhelez/" >Липофилинг грудных желез</a>
                                        <a href="http://www.plastika.me/uslugi/mastopeksiya/" >Мастопексия</a>
                                        <a href="http://www.plastika.me/uslugi/redukcionnaya-mammoplastika-pri-gigantomastii/" >Редукционная маммопластика при гигантомастии</a>
                                        <a href="http://www.plastika.me/uslugi/lechenie-kapsulyarnoj-konraktury-kapsulektomiya-ka/" >Лечение капсулярной контрактуры (капсулэктомия, капсулотомия)</a>
                                        <a href="http://www.plastika.me/uslugi/rekonstrukciya-molochnoj-zhelezy-ustanovka-ekspand/" >Реконструкция молочной железы (установка экспандера)</a>
                                        <a href="http://www.plastika.me/uslugi/reendoprotezirovanie-udalenie-i-zamena-grudnyh-imp/" >Реэндопротезирование. Удаление и замена грудных имплантов</a>
                                        <a href="http://www.plastika.me/uslugi/udalenie-biopolimernogo-gelya-iz-grudi/" >Удаление биополимерного геля из груди</a>
                                        <a href="http://www.plastika.me/uslugi/udalenie-dobrokachestvennogo-obrazovaniya/" >Удаление доброкачественного образования</a>
                                        <a href="http://www.plastika.me/uslugi/vskrytie-kisty-molochnoj-zhelezy/" >Вскрытие кисты молочной железы</a>
                                        <a href="http://www.plastika.me/uslugi/udalenie-zhirovyh-otlozhenij-v-oblasti-molochnyh-z/" >Удаление жировых отложений в области молочных желез</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mobile_baby_item">
                            <span class="body_girl">Тело</span>
                            <div class="mobile_baby_content">
                                <div class="mobile_baby_descr">
                                    <div class="close_mobile_descr">
                                        <img src="{% static 'img/close.png' %}" width="15" height="15" alt="close" />
                                    </div>
                                    <h3 class="title">Пластика тела</h3>
                                    <div class="block_a">
                                        <a href="http://www.plastika.me/uslugi/liposakcia-telo/" >Липосакция тела</a>
                                        <a href="http://www.plastika.me/uslugi/abdominoplastika/" >Абдоминопластика</a>
                                        <a href="http://www.plastika.me/uslugi/lipomodelirovanie-tela/" >Липомоделирование тела</a>
                                        <a href="http://www.plastika.me/uslugi/intimnaya-plastika/" >Интимная пластика для женщин</a>
                                        <a href="http://www.plastika.me/uslugi/intimnaya-plastika/" >Интимная пластика для мужчин</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mobile_baby_item">
                            <span class="legs">Ноги</span>
                            <div class="mobile_baby_content">
                                <div class="mobile_baby_descr">
                                    <div class="close_mobile_descr">
                                        <img src="{% static 'img/close.png' %}" width="15" height="15" alt="close" />
                                    </div>
                                    <h3 class="title">Пластика ног</h3>
                                    <div class="block_a">
                                        <a href="http://www.plastika.me/uslugi/kruroplastika/" >Круропластика – коррекция формы и размера голени</a>
                                        <a href="http://www.plastika.me/uslugi/gluteoplastika/" >Глютеопластика – коррекция формы и размера ягодиц</a>
                                        <a href="http://www.plastika.me/uslugi/lipofiling/" >Липофилинг голени и ягодиц</a>
                                        <a href="http://www.plastika.me/uslugi/ehndovazalnaya-lazernaya-koagulyaciya-ven/" >Эндовазальная лазерная коагуляция вен</a>
                                        <a href="http://www.plastika.me/uslugi/miniflebehktomiya/" >Минифлебэктомия</a>
                                        <a href="http://www.plastika.me/uslugi/mikroskleroterapiya/" >Микросклеротерапия</a>
                                        <a href="http://www.plastika.me/uslugi/pennaya-skleroterapiya-foam-form/" >Пенная склеротерапияFoamForm</a>
                                        <a href="http://www.plastika.me/uslugi/krioskleroterapiya-po-metodu-clacs/" >Криосклеротерапия по методу CLaCS</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line-deco line-deco_big  line-deco_absolute-bottom"></div>
        </div>
        <div class="container_fluid bg_theme-2 bg-line">
			<img src="{% static 'img/bg-5.png' %}" alt="" class="bg-line_top">
			<img src="{% static 'img/bg-6.png' %}" alt="" class="bg-line_bottom">
			<div class="container">
				<div class="model_view_list clearfix">
					<div class="model_right_block"><img src="{% static 'img/face2.png' %}" alt="" class="img_right"></div>
					<div class="model_left_block">
						<div class="model_left_block_wrapper">
							<h2 class="title_main-1 title_margin title_color-1 title_text-cap">3D модель образа бесплатно</h2>
							<div class="line-deco line-deco"></div>
							<p class="text text_s-bold text_color-1 model_color-1">Моделирование вашего нового образа – обязательный и важный этап планирования предстоящего хирургического вмешательства.</p>
							<p class="text text_fony-size-s text_color-2 model_color-2">Во время консультации с помощью специальной компьютерной программы будет создана модель вашего нового образа. Имидж-дизайн внешности поможет вам и пластическому хирургу комплексно оценить результаты планируемой операции.<br>Профессиональный имидж-дизайн – залог удачной операции.</p>
							<a href="http://www.plastika.me/vash-novyj-oblik" class="3d_btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<div class="line-deco line-deco_big  line-deco_absolute-bottom"></div>
		</div>
    {% if history_list  %}
		<section class="history_client">
			<div class="container">
				<h2>истории пациентов</h2>
				<div class="history_wrapper clearfix">
                    {% for history in history_list %}
                        <a href="{{ history.get_absolute_url }}">
    				<div class="history_item">
    					<div class="history_block">
                            {% if history.image %}
    						<div class="wrapper_img"><img src="{{ history.image.url }}" alt="pic" /></div>
                            {% endif %}
    						<div class="history_descr">
    							<h3>{{ history.header }}</h3>
    							<p>{{ history.advt }}</p>
    						</div>
    					</div>
    				</div></a>
                    {% endfor %}
				</div>
				<div class="wrappper_button_history"><a href="{% url 'history_list' %}" class="btn_history">Все истории</a></div>
			</div>
			<div class="line-deco line-deco_big  line-deco_absolute-bottom"></div>
		</section>
    {% endif %}
        <section class="our_doctor">
            <div class="bg_top_line_our_doctor"></div>
            <div class="bg_bottom_line_our_doctor"></div>
            <div class="container">
                <h2 class="our_doctor_title">Наши врачи</h2>
                <div class="doctor_list">
                    {% for doctor in doctors_list %}
                        <div class="doctor_item">
                            <div class="wrapper_img">
                                <img src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% static "img/base_foto.jpg" %}{% endif %}" alt=" " />
                            </div>
                            <div class="doctor_descr">
                                <h3>{{ doctor.name }}</h3>
                                {% if not doctor.experience == None %}<strong>Стаж {{ doctor.experience }}</strong>{% endif %}
                                {% if not doctor.category  == None %}<p>{{ doctor.category }}</p>{% endif %}
                            </div>
                            <div class="wrapper_button_doctor">
                                <a href="{{ doctor.get_absolute_url }}" class="btn_our_doctor">Подробнее</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="line-deco line-deco_big  line-deco_absolute-bottom"></div>
        </section>
    {% if review_list %}
        <section class="thanks">
			<div class="container">
				<h2>Благодарности</h2>
				<div class="thanks_list">
                {% for review in review_list %}
					<div class="thanks_item">
						<div class="thanks_block">
							{% if review.image %}<div class="wrapper_img"><img src="{{ review.image.url }}" alt="pic" /></div>{% endif %}
							<div class="thanks_descr">
								<h3>{{ review.header }}</h3>
								{% autoescape off %}{{ review.content|truncatechars:280 }}{% endautoescape %}
							</div>
						</div>
					</div>
                {% endfor %}
				</div>
				<div class="thanks_mob_list">
                {% for review in review_list %}
					<div class="thanks_mob_item">
						{% if review.image %}<div class="wrapper_img"><img src="{{ review.image.url }}" alt="pic" /></div>{% endif %}
						<div class="thanks_descr">
							<h3>{{ review.header }}</h3>
							{% autoescape off %}{{ review.content|truncatechars:280 }}{% endautoescape %}
						</div>
					</div>
                {% endfor %}
				</div>
				<div class="wrapper_all_buttons clearfix">
					<div class="wrappper_button_thanks first"><a href="{% url 'review_list' %}" class="btn_thanks">Все отзывы</a></div>
					<div class="wrappper_button_thanks second"><a href="{% url 'book_static_page' %}" class="btn_thanks">Книга отзывов</a></div>
				</div>
			</div>
		</section>
    {% endif %}
        <section class="feedback_question">
            <div class="container">
                <div class="container_feedback_question">
                    <h2>Ответим на все ваши вопросы</h2>
                    <div class="content_feedback clearfix">
                        <div class="block_left">
                            <form class="form_question" role="form" method="post" action=" " enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if file_form.message.errors %}
                                <ul>
                                {% for error in file_form.message.errors %}
                                    <li><span class="name_text" style="color:red;">{{ error }}</span></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="row_block">
                                {{ file_form.f_name.errors }}
                                <label for="id_f_name">
                                    <span class="form_title">Ваше имя</span>
                                    {{ file_form.f_name}}
                                </label>
                                <span class="name_text">Прикрепите к письму фото, результаты анализов, УЗИ, снимки и другие материалы для развёрнутого ответа врача!</span>
                            </div>
                            <div class="row_block">
                                {{ file_form.f_mail.errors }}
                                <label for="id_f_mail">
                                    <span class="form_title">Почта</span>
                                    {{ file_form.f_mail}}
                                </label>
                                <span class="upload_wrapper">
                                    {{ file_form.f_file.errors }}
                                    <div class="fileform">
                                        <div class="selectbutton">Прикрепить файл</div>
                                        {{ file_form.f_file}}
                                    </div>
                                </span>
                            </div>
                            <div class="row_block">
                                {{ file_form.f_message.errors }}
                                <label for="id_f_message">
                                    <span class="form_title">Вопрос</span>
                                    {{ file_form.f_message }}
                                </label>
                                <span class="wrapper_checkbox">
                                    <span class="wrap_label">
                                        {{ file_form.f_news.errors }}
                                        {{ file_form.f_news }}
                                        <label for="id_f_news"></label>
                                        <strong>Подписаться на новости и акции</strong>
                                    </span>
                                    <span class="wrap_label item2">
                                        {{ file_form.f_accept }}
                                        {{ file_form.f_accept.errors }}
                                        <label for="id_f_accept"></label>
                                        <strong>Я даю согласие на обработку <a href="http://www.plastika.me/politika-konfidencialnosti/"><u>персональных данных</u></a></strong>
                                    </span>
                                    <input type="submit" value="Отправить" id="button_submit">
                                </span>
                            </div>
                            </form>
                        </div>
                        <div class="block_right">
                            <div class="phone_callback_wrapper">
                                <a href="#" class="btn_call_open"><img src="{% static 'img/phone_feedback.png' %}" width="69" height="69" class="ico_phone" alt="ico" /></a>
                                <div class="callback_descr">
                                    <a href="#" class="btn_call_open">Закажите звонок!</a>
                                    <h4>Оставить заявку на обратный звонок можно в любое время суток, где бы Вы ни находились.</h4>
									<!--<p></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <div class="container">
                <h2>Новости</h2>
                <div class="news_list">
                    {% for news in news_list %}
                    <div class="news_item">
                        <div class="news_block">
                            <div class="news_descr">
                                <p class="date">{{ news.date }}</p>
                                <a href="{{ news.get_absolute_url }}">{{ news.header_one }}</a>
                                <p>{% autoescape off %}{{ news.advt }}{% endautoescape %}</p>
                            </div>
                        </div>
                    <div class="wrappper_button_news">
                        <a href="{{ news.get_absolute_url }}" class="btn_news">Читать новость</a>
                    </div>
                    </div>
                        {% endfor %}
                </div>
            </div>
        </section>
        <section class="news_mobile">
            <div class="container">
                <h2 class="news_title">Новости</h2>
                <div class="news_list">
                    {% for news in news_list|slice:":6" %}
                    <div class="news_item clearfix">
                        <div class="block_left">
                            <div class="news_block news_left">
                                <div class="news_descr">
                                    <p class="date">{{ news.date }}</p>
                                    <a href="{{ news.get_absolute_url }}">{{ news.header_one }}</a>
                                    <p>{% autoescape off %}{{ news.advt }}{% endautoescape %}</p>
                                </div>
                            </div>
                            <div class="wrappper_button_news">
                                <a href="{{ news.get_absolute_url }}" class="btn_news">Читать новость</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% include "footer.html" %}
{% endblock content %}