{% load staticfiles %}
<div class="grid-row grid-row_justify grid-row_middle menu-main">
    {% for m in m_menus %}
    <div class="grid-row__col menu-main__item"><a href="{{ m.url }}">{{ m.menu_name }}</a></div>
    <div class="grid-row__col delimiter-v-line"></div>
	{% endfor %}
    <div class="grid-row__col menu-main__item search">
        <a href=""><img src="{% static 'img/soprano/search.png' %}" alt="icon" /></a>
    </div>
	<div class="line-deco line-deco_absolute-bottom"></div>
    <div class="block_search">
        <form action="{% url 'service_search' %}" method="get">
            <button class="btn_search" type="submit"></button>
            <input class="input2" type="text" name="s" placeholder="Поиск по сайту" value="{{ request.GET.s }}">
        </form>
    </div>
</div>
<div class="mobile_menu-main">
    <div class="hamburger_menu"><span>Меню</span></div>
		<ul class="mobile_menu_list">
	    {% for m in m_menus %}
			<li class="mobile_menu_item"><a href="{{ m.url }}">{{ m.menu_name }}</a></li>
		{% endfor %}
		</ul>
    <div class="mobile_search">
        <div class="delimiter-v-line"></div>
        <div class="menu-main__item search">
            <a href="#"><img src="{% static 'img/soprano/search.png' %}" alt="icon" /></a>
        </div>
    </div>
    <div class="block_search">
        <form action="{% url 'service_search' %}" method="get">
            <button class="btn_search" type="submit"></button>
            <input class="input2" value="{{ request.GET.s }}" autocomplete="off" type="text" name="s" placeholder="Поиск по сайту">
        </form>
    </div>
	<div class="line-deco line-deco_absolute-bottom"></div>
</div>