{% load static %}
<div class="header_slider_wrap">
    <div class="triangle_left"></div>
	<div class="triangle_right"></div>
	<div class="header_slider">
	    {% for sl in main_slider %}
		<div class="header_slider_item" style="background: url({% if sl.image  %}{{ sl.image.url }}{% else %}{% static 'img/bg_slider.png' %}{% endif %}) no-repeat;">
			<div class="container">
				<div class="slider_description">
					<h2 class="slider_title">{{ sl.title }}</h2>
					<p class="slider_text">{% autoescape off %}{{sl.content}}{% endautoescape %}</p>
					{% if not sl.button == None %}
					<div class="wrap_slider_button">
						<a href="{{ sl.button}}" class="btn_slide__link">Подробнее</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>