{% load staticfiles %}
<div class="left_slider">
    <div class="left_slider_list">
        {% for slide in page_slider %}
        <div class="left_slider_item">
			<div class="wrap_img">
			    <img src="{% if slide.image %}{{ slide.image.url }}{% else %}{% static 'img/soprano/face_slide.png' %}{% endif %}" alt="face" />
			</div>
			<div class="wrap_text">
				<p class="title_cart_slide">{{ slide.title }}</p>
				<p class="descr_cart_slide">{{ slide.text }}</p>
			</div>
		</div>
    	{% endfor %}					
	</div>
</div>