{% extends "base.html" %}
{% load staticfiles %}
{% load page_slider %}
{%block keywords %}{{ page.keywords }}{% endblock keywords %}
{%block description %}{{ page.description }}{% endblock description %}
{% block title %}{{page.title_page}}{% endblock title %}
{% block content %}
    {% if page.template_two == True %}
        <div class="header_fixed">
            <div class="container">
                <div class="main_fixed clearfix">
                    <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                    <div class="con_contacts">
                        <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                        <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                    </div>
                    <div class="con_adress">
                        <p>Санкт-Петербург, ст. м. «Горьковская», улица Малая Посадская, д. 7/4</p>
                    </div>
                </div>
            </div>
            <div class="top_feedback">
                <div class="container">
                    <ul class="feedback_list">
                        <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                        <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                        <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                        <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-main">
        <div class="container_content page_service">
            <div class="breadcrumbs">
                <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
                <a href="{{ page.get_absolute_url }}" class="breadcrumbs_items active">{{ page.title }}</a>
            </div>
            <h1 class="title_service_name">{{ page.title }}</h1>
            <div class="page_service_content">
                <div class="line-deco line-deco_absolute-top"></div>
                {% autoescape off %}{{page.content}}{% endautoescape %}
            </div>
        </div>
    </div>
{% include "footer.html" %}
    {% else %}
<div class="header_soprano_wrap">
    <div class="header_soprano">
        <div class="header_soprano_item">
            <div class="container">
                <div class="soprano_item__content">
					<div class="soprano_blur"></div>
					<h2>{{ page.title }}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
        <div class="header_fixed">
            <div class="top_feedback">
                <div class="container">
                    <ul class="feedback_list">
                        <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                        <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                        <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                        <li class="feedback_item skype"><a href="skype:Plastika.me">Консультация в Skype</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="main_fixed clearfix">
                    <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                    <div class="con_contacts">
                        <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                        <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                    </div>
                    <div class="con_adress">
                        <p><span>Адрес:</span> Малая Посадская 7/4 ст метро Горьковская, г.Санкт-Петербург</p>
                    </div>
                    <div class="fixed_breadcrumbs">
                        <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
                        <a href="{{ page.get_absolute_url }}" class="breadcrumbs_items active">{{ page.title }}</a>
                    </div>
                </div>
            </div>
        </div>
<div class="content-main">
	<div class="container_content">
		<div class="content_soprano clearfix">
		    <div class="wrapper_title2">
		        <h2 class="soprano_title">{{ page.menu_name }}</h2>
				<div class="line-deco line-deco_absolute-bottom"></div>
			</div>
			<div class="left_column_soprano">
			    <div class="wrapper">
			        {% if service_menu %}
			        <div class="wrapper_btn_menu"><a href="#">Разделы</a></div>
			        <div class="left_menu">
			            <ul class="soprano_menu">
                            {% for serv in service_menu %}
							<li class="soprano_menu_item"><a href="{{ serv.get_absolute_url }}" class="soprano_menu__link">{{ serv.menu_name }}</a></li>
						    {% endfor %}
                        </ul>
					</div>
                    {% endif %}
					{% get_page_slider %}
				</div>
			</div>
			<div class="right_column_soprano">
				<div class="wrapper_title">
					<h2 class="soprano_title">{{page.menu_name }}</h2>
					<div class="line-deco line-deco_absolute-bottom"></div>
				</div>
            <div class="soprano_block_text">
				{% autoescape off %}{{page.content}}{% endautoescape %}
            </div>
			</div>
		</div>
	</div>
</div>
{% include "footer.html" %}
    {% endif %}
{% endblock content %}