{% extends "base.html" %}
{% load staticfiles %}
{%block keywords %}{% endblock keywords %}
{%block description %}{% endblock description %}
{% block title %}Поиск{% endblock title %}
{% block content %}
    <div class="header_fixed">
        <div class="top_feedback">
            <div class="container">
                <ul class="feedback_list">
                    <li class="feedback_item write"><a href="#" class="btn_write_open">Записаться</a></li>
                    <li class="feedback_item call"><a href="#" class="btn_call_open">Заказать звонок</a></li>
                    <li class="feedback_item us"><a href="#" class="btn_mail_open">Написать нам</a></li>
                    <li class="feedback_item skype"><a href="#">Консультация в Skype</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="main_fixed clearfix">
                <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></div>
                <div class="con_contacts">
                    <a href="tel:+78126710170" class="con_phone"><span>+7 (812)</span> 671-01-70</a><br>
                    <div class="con_time"><span>ежедневно 9:00 - 21:00</span></div>
                </div>
                <div class="con_adress">
                    <p><span>Адрес:</span> Малая Посадская 7/4 ст метро Горьковская, г.Санкт-Петербург</p>
                </div>
                <div class="fixed_breadcrumbs">
                    <a href="{% url 'index' %}" class="breadcrumbs_items">Главная страница</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-main">
        <div class="container_content page_service">
            <h1 class="title_service_name">Результаты поиска</h1>
            <div class="page_service_content">
                <div class="line-deco line-deco_absolute-top"></div>
                {% if errors %}
                    {% for error in errors %}
                        <h3>{{ error }}</h3>
                    {% endfor %}
                {% else %}
                {% if service_list %}
                <section class="article">
                    {% for search_service in service_list %}
                    <div class="article_descr clearfix">
                        {%  if search_service.image %}
                        <div class="left_block">
                            <div class="wrap_img"><img src="{{ search_service.image.url }}" alt="aricle"></div>
                        </div>
                        {% endif %}
                        <div class="right_block">
                            <a href="{{ search_service.get_absolute_url }}" class="title_article">{{ search_service.header_one }}</a>
                            {% autoescape off %}{{ search_service.content|truncatechars:200 }}{% endautoescape %}
                        </div>
                    </div>
                    {% endfor %}
                </section>
                {% endif %}
                {% if under_service_list %}
                <section class="article">
                    {% for under_service in under_service_list %}
                    <div class="article_descr clearfix">
                        {%  if under_service.image %}
                        <div class="left_block">
                            <div class="wrap_img"><img src="{{ under_service.image.url }}" alt="aricle"></div>
                        </div>
                        {% endif %}
                        <div class="right_block">
                            <a href="{{ under_service.get_absolute_url }}" class="title_article">{{ under_service.header_one }}</a>
                            {% autoescape off %}{{ under_service.content|truncatechars:200 }}{% endautoescape %}
                        </div>
                    </div>
                    {% endfor %}
                </section>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% include "footer.html" %}
{% endblock content %}