<html>
<head></head>
<body>
<div style="width: 100%; background: #fcfbf7; padding: 10px 0;">
    <a href="http://testvit.pythonanywhere.com" style="
	display: block;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 24px;
	text-decoration: none;"
	target="_blank">
        <img src="http://testvit.pythonanywhere.com/static/img/logo.png" alt="logo">
    </a>
</div>
<div style="background: #2b3a45; padding: 20px; color: #fde09f;">
	<h1 style="text-align: center; font-size: 22px; font-weight: 600;">Автор письма: {{ name }}</h1>
    <h1 style="text-align: center; font-size: 22px; font-weight: 600;">Номер телефона: {{ tel }}</h1>
</div>
</body>
</html>