<html>
<head></head>
<body>
<div style="width: 100%; background: #fcfbf7; padding: 10px 0;">
    <a href="http://testvit.pythonanywhere.com" style="
	display: block;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 24px;
	text-decoration: none;" 
	target="_blank">
        <img src="http://testvit.pythonanywhere.com/static/img/logo.png" alt="logo">
    </a>
</div>
<div style="background: #2b3a45; padding: 20px; color: #fde09f;">
	<h1 style="text-align: center; font-size: 22px; font-weight: 600;">Автор письма: {{ mes_name }}</h1>
    <h1 style="text-align: center; font-size: 22px; font-weight: 600;">Номер телефона: {{ mes_tel }}</h1>
</div>
<div style="width: 100%; background: #fcfbf7;">
<h2 style="padding: 10px;
    margin: auto;
    color: #284873;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;">Сообщение:</h2>
<p style="font-weight: 400; padding: 0 10px 15px; margin: auto;" >{{ mes_message }}</p>
</div>
</body>
</html>